Repository lionelromanelli/drinkmaker: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typescript, backend-eslint, backend-prettier, frontend-audit, backend-audit

frontend-eslint:
  name: Frontend ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  require_serial: false

frontend-prettier:
  name: Frontend Prettier
  entry: bash -c 'cd frontend && npx prettier --write'
  language: system

frontend-typescript:
  name: Frontend TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system

backend-eslint:
  name: Backend ESLint
  entry: bash -c 'cd backend && bun run lint:fix'
  language: system

backend-prettier:
  name: Backend Prettier
  entry: bash -c 'cd backend && bun run format'
  language: system

frontend-audit:
  name: Frontend Security Audit
  entry: bash -c 'cd frontend && npm audit --audit-level=high'
  language: system
  pass_filenames: false

backend-audit:
  name: Backend Security Audit
  entry: bash -c 'cd backend && bun audit'
  language: system
  pass_filenames: false

deploy
  backend/Jenkinsfile
  backend/Jenkinsfile.docker
Due: none

deploy
  backend/package-lock.json
  frontend/package-lock.json
Due: frontend-prettier, backend-prettier, frontend-audit, backend-audit

deploy
  README.md
  frontend/Jenkinsfile
  frontend/app/page.tsx
Due: frontend-eslint, frontend-prettier, frontend-typescript

linting
  .claude/settings.local.json
  frontend/.eslintrc.json
  frontend/package.json
Due: frontend-prettier, frontend-audit

deploy
  frontend/Dockerfile
  frontend/app/page.tsx
  frontend/next.config.js
Due: frontend-eslint, frontend-prettier, frontend-typescript

deploy
  frontend/public/robots.txt
Due: none

deploy
  backend/server.js
Due: backend-eslint, backend-prettier

deploy
  backend/Jenkinsfile
Due: none

mock response
  backend/mock-responses.json
  backend/server.js
  frontend/app/page.tsx
Due: frontend-eslint, frontend-prettier, frontend-typescript, backend-eslint, backend-prettier

fix
  frontend/app/page.tsx
Due: frontend-eslint, frontend-prettier, frontend-typescript

favicon
  frontend/app/layout.tsx
  frontend/public/favicon.svg
Due: frontend-eslint, frontend-prettier, frontend-typescript

Path conditions:
  frontend-eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md)$
  frontend-typescript: any of: ^frontend/.*\.(ts|tsx)$
  backend-eslint: any of: ^backend/.*\.(js|ts)$
  backend-prettier: any of: ^backend/.*\.(js|ts|json|md)$
  frontend-audit: any of: ^frontend/package.*\.json$
  backend-audit: any of: ^backend/package.*\.json$
